<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     
     <img class="navbar-item" src="../../assets/LOGO WEBSITE.png" width="112" height="28">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-info"  routerLink="home">
          <strong>ACCEUIL</strong> 
        </a>
  
        <a class="navbar-item has-text-info"routerLink="courses">
            <strong>  LES COURS</strong> 
        </a>
  
        <a class="navbar-item has-text-info"routerLink="contact-us">
            <strong>   NOUS CONTACTER</strong> 
          </a>
   
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="button is-primary">
              <strong>Sign up</strong>
            </button>
            <button class="button is-light">
              Log in
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>