<div class="columns" style="margin: 2% 10% ;" >
    <div class="column is-one-fifth"></div>

    <div class="dropdown column is-one-fifth" (mouseleave)="toggleOff($event)">
        <div>
          <button class="button">
            <span>licence</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" (mouseover)="toggleOn($event)" aria-hidden="true"></i>
            </span>
          </button>
          
        </div>
        <div class="dropdown-menu"  >
          <div class="dropdown-content" >
            <a *ngFor="let it of artest" href="#" class="dropdown-item">
             {{it}}
            </a>
          </div>
        </div> 
    </div>
   
    <div class="column is-one-fifth"></div>

    <div class="dropdown column is-one-fifth" (mouseleave)="toggleOff($event)" >
        <div >
          <button class="button">
            <span>master</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down"  (mouseover)="toggleOn($event)"aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content"  >
            <a *ngFor="let it of artest" href="#" class="dropdown-item">
             {{it}}
            </a>
          </div>
        </div> 
    </div>   
</div>
<app-curriculum></app-curriculum> 
