<div class="image-container">
<img  style="height: 90vh ;width:100%" src="../../assets/pexels-photo-1194713.jpeg">

<h1 class="title has-text-info" style="position: absolute;top: 20%;left: 5%; font-size: 350%;">Platforme pédagogique </h1>
<h1 class="title has-text-info" style="position: absolute;top: 30%;left: 10%;font-size: 350%;">pour apprendre</h1>
<h1 class="title has-text-primary" style="position: absolute;top: 50%;left: 5%;font-size: 100%;">un site web proposant des cours et des exercices  </h1>
<h1 class="title has-text-primary" style="position: absolute;top: 55%;left: 5%;font-size: 100%;">en mathématiques pour les étudiants de niveau licence</h1>
<h1 class="title has-text-primary" style="position: absolute;top: 60%;left: 5%;font-size: 100%;">(les trois premières années des études supérieures)</h1>
</div>