<div  class="content is-large" style="margin: 3% 7%;">
<h1 style="margin: 3% 5%;">SEMESTERE 1</h1>
<div class="dropdown column is-full"  >
    <div>
      <button class="button" style="padding: 3%;" >
        <span>Module1</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down"  aria-hidden="true"></i>
        </span>
      </button>
      
      
    </div>
    <div class="dropdown-menu"  >
      <div class="dropdown-content" >
        <a href="#" class="dropdown-item">
        fffffffffffffff
        </a>
      </div>
    </div> 
</div>
<div class="dropdown column is-full" >
    <div>
      <button class="button">
        <span>Module1</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down"  aria-hidden="true"></i>
        </span>
      </button>
      
    </div>
    <div class="dropdown-menu"  >
      <div class="dropdown-content" >
        <a href="#" class="dropdown-item">
        fffffffffffffff
        </a>
      </div>
    </div> 
</div>

<div class="dropdown column is-full" >
    <div>
      <button class="button">
        <span>Module1</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down"  aria-hidden="true"></i>
        </span>
      </button>
      
    </div>
    <div class="dropdown-menu"  >
      <div class="dropdown-content" >
        <a href="#" class="dropdown-item">
        fffffffffffffff
        </a>
      </div>
    </div> 
</div>
</div>