
<div class="columns"  >
<table class="table is-fullwidth is-bordered" style="margin: 10% 10% ;">
    <thead>
      <tr>
        <th >SEMESTERE 1</th>
        <th >SEMESTERE 2</th>
        <th >SEMESTERE 3</th>
        <th >SEMESTERE 4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <b>
            <ul>
                <li><a routerLink="modules-course">MODULE1</a></li>
                <li><a>MODULE2</a></li>
                <li><a>MODULE3</a></li>
                <li><a>MODULE4</a></li>
                <li><a>MODULE5</a></li>
            </ul>
            </b>
        </td>
        <td>
            <b>
                <ul>
                    <li><a>MODULE1</a></li>
                    <li><a>MODULE2</a></li>
                    <li><a>MODULE3</a></li>
                    <li><a>MODULE4</a></li>
                    <li><a>MODULE5</a></li>
                    <li><a>MODULE6</a></li>
                    <li><a>MODULE7</a></li>
                </ul>
                </b> 
        </td>
        <td>
            <b>
                <ul>
                    <li><a>MODULE1</a></li>
                    <li><a>MODULE2</a></li>
                    <li><a>MODULE3</a></li>
                    <li><a>MODULE4</a></li>
                    <li><a>MODULE5</a></li>
                    <li><a>MODULE6</a></li>
                </ul>
                </b> 
        </td>
        <td>
            <b>
                <ul>
                    <li><a>MODULE1</a></li>
                    <li><a>MODULE2</a></li>
                    <li><a>MODULE3</a></li>
                    <li><a>MODULE4</a></li>
                    <li><a>MODULE5</a></li>
                    <li><a>MODULE6</a></li>
                    <li><a>MODULE7</a></li>
                </ul>
                </b>
        </td>    
      </tr>
     
    </tbody>
  </table>
</div>