
<div class="has-background-dark columns"style="width: 160vh; height:100vh">
  <div class="column is-4"></div>
  <div class="column is-4">
      <h1 class="title mx-2 has-text-white "  style="padding: 2% 10% 1% 10%; ">Ajouter Enseignant</h1>
      <div class="card">
        <div class="card-content">
            <div class="content">
                  <div class="field">
                      <label class="label">Nom</label>
                      <div class="control">
                          <input class="input" type="text" placeholder="Text input">
                      </div>
                  </div>
        
                  <div class="field">
                    <label class="label">Prénom</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Code</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Code input">
                    </div>
                  </div>
                 
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Email input">
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Mode de passe</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="password input">
                    </div>
                  </div>

                  <div class="field">
                      <label class="label">Description</label>
                      <div class="control">
                          <textarea class="textarea" placeholder="Textarea"></textarea>
                      </div>
                  </div>
        
        
             
        
                  <div class="field is-grouped">
                      <div class="control">
                          <button class="button is-link">Ajouter</button>
                      </div>
                      <div class="control">
                          <button class="button is-link is-light">Annuler</button>
                      </div>
                  </div>
            </div>
        </div>
      </div>
  </div>    
  <div class="column is-4"></div>
</div>




  
