<h1 class="title is-1 mx-2 has-text-white "  style="padding: 2% 10% 1% 8%; ">semester 1</h1>
<app-card [head]="NM[0]">
    <div class="content">
        <!-- <app-table [head]="titel"  [bodyHorizontal]="data1"></app-table> -->
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>
</app-card> 
<app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[2]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[3]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[4]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>

<app-card [head]="NM[5]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[6]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[7]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>



<h1 class="title is-1 mx-2 has-text-white "  style="padding: 2% 10% 1% 8%; ">semester 2</h1>


<app-card [head]="NM[0]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>
<app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card><app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card><app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card><app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card><app-card [head]="NM[1]">
    <div class="content">
        <app-table [head]="titel"  [bodyVertical]="data2"></app-table> 
    </div>

</app-card>